@charset "utf-8";
@font-face{font-family:'ledfont';src:url('fonts/ledfont_fdf9feb.ttf') format('truetype'),url('fonts/ledfont_fed0712.woff') format('woff'),url('fonts/ledfont_39cc408.svg') format('svg');font-weight:normal;font-style:normal}

